**/serverless-output.*
**/.DS_Store
temp/
.DS_Store
serverless-output.yaml
**/.vscode/
**/build/
**/dist/
**/*egg*
**/*.pyc
**/.vscode
**/*_cache
**/*__pycache__*
*coverage*
venv/
**/lambda_extraction_code.zip
**/lambda_transformation_code.zip
**/lambda_loading_code.zip
**/.terraform*
*.tfstate*
*/thing.txt
.env
